*.a
*.o
*.snap
/autom4te.cache
/config.h
/config.log
/config.status
/Makedefs
moauth-160.png
moauth/libmoauth.a
moauth/testmoauth
moauthd/moauthd
moauthd/testmoauthd
parts
prime
snap/.snapcraft
stage
xcuserdata
xcshareddata
